.cards {
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 2px white;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    font-size: 24px;
}

@media (max-width: 820px) {
    .cards {
       margin: 10px;
    }
}
