.search {
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__field {
    min-width: 40vw;
    min-height: 60px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 2px white;
    border-radius: 5px;
}

.search__icon {
    width: 40px;
    margin-left: -50px;
    z-index: 1;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
}

.logo {
    max-width: 200px;
    position: absolute;
    left: 2%;
    opacity: 0.7;
}

@media (max-width: 767px) {
    .search {
        min-height: 150px;
    }

    .search__field {
        min-width: 60vw;
        min-height: 40px;
        border: solid 1px white;
        z-index: 1;
    }

    .search__icon {
        width: 30px;
        margin-left: -35px;
    }

    .logo {
        top: 10px;
        max-width: 100px;
    }
}

@media (max-width: 450px) {
    .logo {
        max-width: 80px;
    }

    .search {
        min-height: 135px;
    }
}