* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-image: url('./assets/planets.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

input {
    outline: none;
    font-size: 1.3rem;
    color: white;
}

::-webkit-scrollbar {
    width: 14px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 9em;
}
